<!DOCTYPE html>
html(lang="en")
head
  title Book Title Goes Here
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="stylesheet", href="assets/css/main.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css")
  link(rel="apple-touch-icon", sizes="57x57", href="")
  link(rel="apple-touch-icon", sizes="72x72", href="")
  link(rel="apple-touch-icon", sizes="114x114", href="")
  link(rel="apple-touch-icon", sizes="144x144", href="")
  link(rel="icon", type="image/png" href="favicon.ico")
body
  include partials/header.pug
  include partials/nav.pug

  main
    include partials/splash-cover.pug


  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  script(src="assets/js/app.js")
