// Template for chapters
// Duplicate this template for multiple chapters
// Save these files in the /chapters folder

// Chapter 1

// The ID of the section must match the menu anchor link
section.chapter#chapter-1

  header.chapter-masthead
    h3.chapter-heading Chapter 1
    // uncomment to use subheading
    // h4.chapter-sub Chapter name/Subheading

  // Chapter text begins here
  article
    p
