// This is the splash/cover page (book cover image, title, author)

section.intro // book cover image is a background image of this section
  .title // control placement of title info with this div
    h1 Moby Dick // book title
    h2 by Herman Melville //book author
