// This is the splash/cover page (book cover image, title, author)

// book cover image is a background image of this section
section.intro
  // control placement of title info with this div
  .title
    // book title
    h1 Book Title

    // book author
    h2 by Author Name
